<form action="/blogs" method="POST">
    <input name="title" placeholder="title" type="text">
    <input name="image" placeholder="image" type="text">
    <input name="body" placeholder="body" type="text">
    <button>OK</button>
</form>